#title {
  width: 80%;
  margin: 20px 0 30px;
  padding: 5px 10px;
  font-size: 20px;
  outline: none;
}

#cari_name {
  width: 30%;
  margin: 20px 0 30px;
  padding: 5px 10px;
  font-size: 20px;
  outline: none;
}

textarea {
  height: 220px;
  width: 95%;
  margin: 20px 0 30px;
  padding: 10px;
  font-size: 15px;
  resize: none;
  outline: none;
}

#add_btn {
  margin: 0 auto;
}

#add_btn input {
  border: none;
  background-color: #00ff99;
}
